.galeria{
    margin-top: 10px;
}

.galeria-pai{
    margin-top: 10px;
}


body{
    background-image: url(../img/chuva.jpeg);
    height: 700px;
}


.galeria img{
    width: 200px;
    height: 150px;
    border-radius: 10px 10px 10px 10px;
    margin-left: 10px;
    opacity: 0.8;
}

.galeria img:hover{
    opacity: 1.0;
    padding: 5px;
    transition: opacity 1s;   
    transition: padding 0.5s;   
}

footer{
    margin-top: 100px;
}

nav ul li{
    display: inline-block;
    margin-left: 20px;
}

header{
    position: absolute;
    margin: left;
}

.links{
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 3px;

}

.links:hover{
    color: white;
}
           
.icone{
    color: white;
    margin-left: 10px;
}


.icone:hover{
    color: rgb(157, 58, 58);
    transition: color 0.5s;
}   